    <div class="toast-wrapper">
      <div
        class="toast-card"
        *ngFor="let toast of toastService.toasts$ | async"
        [class]="toast.type"
        animate.enter="toast-enter"
        animate.leave="toast-exit">

        <div class="toast-icon-wrapper">
          <mat-icon>{{ getIcon(toast.type) }}</mat-icon>
        </div>

        <div class="toast-content">
          <div class="toast-title">{{ toast.title }}</div>
          <div class="toast-message">{{ toast.message }}</div>
        </div>

        <button mat-icon-button (click)="toastService.remove(toast.id)" class="close-btn">
          <mat-icon>close</mat-icon>
        </button>

        <div class="toast-progress" [style.animation-duration]="toast.duration + 'ms'"></div>
      </div>
    </div>
