<div class="history-container">
  <!-- Header -->
  <header class="history-header">
    <button mat-icon-button class="back-btn" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="page-title">Resume History</h1>
    <div></div> <!-- Spacer to keep title centered -->
  </header>

  <!-- Resume List -->
  <div class="resumes-list" *ngIf="resumes.length; else noHistory">
    <mat-card *ngFor="let resume of resumes" class="resume-card">
      <div class="card-content">
        <div class="resume-info">
          <div class="file-name-row">
            <h3 class="file-name">{{ resume.filename }}</h3>
            <mat-chip *ngIf="resume.type === 'job_match'" class="analysis-type-chip match-chip"
              aria-label="Job Match Analysis">
              JD Match
            </mat-chip>
            <mat-chip *ngIf="resume.type === 'standard'" class="analysis-type-chip standard-chip"
              aria-label="Standard ATS Analysis">
              ATS Score
            </mat-chip>
          </div>
          <p class="analyzed-date">{{ resume.createdAt | date:'MMM d, y' }}</p>
        </div>
        <div class="score-badge" [ngClass]="getScoreClass(resume.score)">
          {{ resume?.score ? resume?.score : resume.analysis.free_feedback.score }}/10
        </div>
      </div>
      <div class="card-actions">
        <button mat-button color="primary" (click)="viewResume(resume)">
          <mat-icon>visibility</mat-icon>
          View Details
        </button>
      </div>
    </mat-card>
  </div>

  <!-- Empty State -->
  <ng-template #noHistory>
    <div class="empty-state">
      <!-- <mat-icon class="empty-icon">description</mat-icon> -->
      <h3>No resume history</h3>
      <p>You haven’t analyzed any resumes yet.</p>
      <!-- <button mat-raised-button color="primary" (click)="goToUpload()">
            Upload Your First Resume
          </button> -->
    </div>
  </ng-template>
</div>
