// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use 'theme/themes';
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  scroll-behavior: smooth;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon {
  overflow: visible !important;
}

.upgrade-pro-dialog {
  .mat-mdc-dialog-container {
    padding: 0 !important;
  }

  .mat-mdc-dialog-surface {
    border-radius: 20px !important;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15) !important;
    overflow: hidden;
  }
}

.custom-snackbar-panel {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;

  .mat-mdc-snackbar-surface {
    padding-right: 0px !important;
    border-radius: 20px !important;

    .mdc-snackbar__label {
      padding: 0 !important;
    }
  }
}

.mat-mdc-button-persistent-ripple,
.mat-mdc-button-ripple {
  display: none !important;
}

.upgrade-pro-dialog .mat-mdc-dialog-container {
  padding: 0 !important;
  max-height: 90vh;
  overflow: hidden;
}

.upgrade-pro-dialog .mat-mdc-dialog-surface {
  border-radius: 24px !important;
  overflow: hidden;
}

.upgrade-pro-dialog{
  padding: 0px 10px;
}
